// global color tokens

$-clr-white: hsl(0 0% 100%);
$-clr-stone-100: hsl(30, 54%, 90%);
$-clr-stone-150: hsl(30, 18%, 87%);
$-clr-stone-200: hsl(30, 18%, 82.5%);
$-clr-stone-300: hsl(30, 18%, 70%);
$-clr-stone-400: hsl(30, 18%, 60%);
$-clr-stone-500: hsl(30, 18%, 50%);
$-clr-stone-600: hsl(30, 10%, 34%);
$-clr-stone-700: hsl(30, 10%, 30%);
$-clr-stone-800: hsl(30, 10%, 24%);
$-clr-stone-900: hsl(24, 5%, 18%);
$-clr-black: hsl(0 0% 0%);

$-clr-rose-50: hsl(330, 100%, 98%);
$-clr-rose-100: hsl(330, 100%, 95%);
$-clr-rose-200: hsl(330, 100%, 82.5%);
$-clr-rose-300: hsl(330, 100%, 70%);
$-clr-rose-400: hsl(330, 100%, 60%);
$-clr-rose-500: hsl(330, 100%, 50%);
$-clr-rose-600: hsl(330, 100%, 40%);
$-clr-rose-700: hsl(330, 100%, 30%);
$-clr-rose-800: hsl(332, 51%, 32%);
$-clr-rose-900: hsl(332, 51%, 7.5%);

$-clr-brown-100: hsl(14, 45%, 95%);
$-clr-brown-200: hsl(14, 45%, 82.5%);
$-clr-brown-300: hsl(14, 45%, 70%);
$-clr-brown-400: hsl(14, 45%, 60%);
$-clr-brown-500: hsl(14, 45%, 55%);
$-clr-brown-600: hsl(14, 45%, 45%);
$-clr-brown-700: hsl(14, 45%, 40%);
$-clr-brown-800: hsl(14, 45%, 36%);
$-clr-brown-900: hsl(14, 45%, 26%);




$light: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-stone-100,
    "150": $-clr-stone-150,
    "200": $-clr-stone-200,
    "300": $-clr-stone-300,
    "400": $-clr-stone-400,
    "500": $-clr-stone-500,
    "600": $-clr-stone-600,
    "700": $-clr-stone-700,
    "800": $-clr-stone-800,
    "900": $-clr-stone-900,
    "1000": $-clr-black,
  ),
  "accent": (
    "50": $-clr-rose-50,
    "100": $-clr-rose-100,
    "200": $-clr-rose-200,
    "300": $-clr-rose-300,
    "400": $-clr-rose-400,
    "500": $-clr-rose-500,
    "600": $-clr-rose-600,
    "700": $-clr-rose-700,
    "800": $-clr-rose-800,
    "900": $-clr-rose-900,
  ),
  "primary": (
    "100": $-clr-brown-100,
    "200": $-clr-brown-200,
    "300": $-clr-brown-300,
    "400": $-clr-brown-400,
    "500": $-clr-brown-500,
    "600": $-clr-brown-600,
    "700": $-clr-brown-700,
    "800": $-clr-brown-800,
    "900": $-clr-brown-900,
  ),
);



// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-150: var(--neutral-150);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);


$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-accent-50: var(--accent-50);
$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);
