@use "../abstracts/" as *;

.nutrition-data{
    
    &-grid{
        &-row{
            display: flex;
            padding-inline: $size-8;
            position: relative;
            
            & > *{
                flex-basis: 50%;
            }

            & > *:last-child{
                font-weight: $font-weight-bold;
                color: $color-primary-800;
            }
            &[data-type="separator"]{
                background-color: $color-neutral-150;
                height: 1px;
                margin-block: $size-3;
            }
            
        }
    }
}