@use "../abstracts/" as *;

.nutrition-data{
    
    &-grid{
        list-style: none;
        & > *:not(:last-of-type){
            margin-bottom: $size-3;
        }
        &-row{
            display: flex;
            padding-inline: $size-8;
            
            & > *{
                flex-basis: 50%;
            }

            & > *:last-child{
                font-weight: $font-weight-bold;
                color: $color-primary-800;
            }     
        }
    }
}